@import 'variables';

@import 'node_modules/bootstrap/scss/bootstrap-reboot';
@import 'node_modules/bootstrap/scss/bootstrap-grid';
@import 'node_modules/material-colors/dist/colors.scss';

@import 'mixins';

/* */

html {

    font-size: 10px;

}

body {

    width: 100%;
    background: $md-grey-100;

    overflow-y: scroll;

}
